<%= form_with(model: question) do |form| %>
  <%= render "shared/error_messages", resource: form.object %>

  <div class="form-group">
    <%= form.label :body %>
    <%= form.text_area :body, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :answer %>
    <%= form.text_field :answer, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :subject_id %>
    <%= form.collection_select :subject_id, Subject.order(:name), :id, :name, class: "form-control" %>
  </div>

  <div>
    <%= form.button button_text(form.send(:submit_default_value)), class: "btn btn-success" %>

    <% if form.object.new_record? %>
      <%= link_to t("cancel"), questions_path, class: "btn btn-white" %>
    <% else %>
      <%= link_to t("cancel"), question_path(@question), class: "btn btn-white" %>
    <% end %>
  </div>
<% end %>
